<?xml version="1.0"?>
<ruleset name="php-tools">
    <arg value="p"/>
    <file>.</file>

    <rule ref="./sniffer-ruleset.xml"/>

    <rule ref="SlevomatCodingStandard.Classes.UnusedPrivateElements.UnusedProperty">
        <exclude-pattern>/tests/test_app</exclude-pattern>
    </rule>
</ruleset>
