parameters:
    level: 8

    paths:
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        -  tests/test_app/

    ignoreErrors:
        - '#^Call to an undefined static method#'
        - '#^Static call to instance method#'
        - '#^(Ternary operator condition|Negated boolean expression) is always (true|false)\.$#'
        - '#^Access to an undefined property Tools\\Entity#'
        - '#^Parameter \#2 \$message of static method Tools\\Exceptionist::isTrue\(\) expects string#'
        - '#^Parameter \#1 \$(callback|function) of function call_user_func(_array)? expects callable\(\): mixed#'
        -
            message: '#^Left side of \&\& is always false\.$#'
            path: src/global_functions.php
            count: 1
        -
            message: '#^Parameter \#1 \$event of method Tools\\Event\\EventList::add\(\) expects Tools\\Event\\Event, object given\.$#'
            path: src/Event/EventDispatcher.php
        -
            message: '#^Access to protected property#'
            path: tests/TestCase
        -
            message: '#^Variable \$\w+ might not be defined\.$#'
            path: tests/TestCase/ExceptionistTest.php
        -
            message: '#^Parameter \#1 \$im of function imagejpeg expects (GdImage|resource), (GdImage|resource)\|false given\.$#'
            path: tests/TestCase/TestSuite/TestTraitTest.php
