includes:
    - phpstan-baseline.neon

parameters:
    level: 8

    paths:
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: '#^(Access|Call) to (protected|an undefined) ((static )?method|property)#'
            path: tests/TestCase/


    excludePaths:
        - src/Exception
        - tests/test_app/
